@charset "UTF-8";

@import url(http:/fonts.googleapis.com/css?family=Titillium+Web);

body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* cinza claro */
}

div#interface {
position: relative; /* transforma a div em um container */
    background-color: #fff; /* branco */
    width: 900px;
    margin: -20px auto 0px auto; /* para saber posição que cada um ocupa, imaginar um relógio -- se só tiver dois números, o primeiro vale para o de cima e de baixo e o segundo vale para esquerda e direita. */
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.5); /* sombra */
    padding: 0px; /* espaçamento interno da div -- desgrudou texto da borda aumentando a caixa e o espaçamento */
}

header {
    border-bottom: 1px #606060 solid; /* borda inferior q contem all the header */
    height: 150px;
    background-color: #c2e1ff;
}

header#cabecalho h1 {
	font-family: 'FonteLogo';
   	color: #606060;
   	font-size: 28pt;
   	text-shadow: 1px 1px 0px rgba(0,0,0, 0.6);
   	text-align: center;
}


nav#menum ul {
    display: block; /* transformar tudo o que é menu em bloco */
}

nav#menum ul {
    list-style: none; /* para remover marcadores da lista */
    text-transform: uppercase; /* converter para maiúsculas */
    position: absolute; /* para que o menu possa ser colocado no topo, é preciso virar absoluto */
    top: 78px; /* posicionado ao topo. valor negativo para empurrar além da borda */
    right: 13px; /* posicionado à direita no topo */
}

nav#menum li {
    display: inline-block; /* colocar os itens lado a lado */
    background-color: #fff; /* cor de fundo - branco */
    padding: 10px; /* aumentar o espaçamento interno da caixa cinza */
    margin: 2px; /* aumentar o espaçamento externo da caixa cinza */
    transition: background-color 2s; /* tempo da transição do background-color */
}

/* hover para efeito do mouse ao passar sobre o li */

nav#menum li a {
    color: #000; /* preto */
    text-decoration: none; /* remove o sublinhado do link */
}

img#icone {
    widht: 100px;
    height: 100px;
    margin-left: 0px;
    margin-top: -65px;
}

nav#menu {
    padding: 10px;
    float: right;
    position: absolute;
    left: 10px;
    top: 95px;
}

section#corpo {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

article#noticia-principal h1 {
    font-size: 13pt;
    color: #606060;
    background-color: #ddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

article#noticia-principal h2 {
    font-size: 13pt;
    color: #87CEEB;
    text-align: center;
}

article#noticia-principal h3 {
    font-size: 13pt;
    color: #87CEEB;
    padding: 5px 0px 5px 5px; /* top, right, bottom, left */
    margin: 10px 0px 10px 400px;
}

article#noticia-principal h4 {
    font-size: 13pt;
    color: #87CEEB;
    padding: 5px 0px 5px 5px; /* top, right, bottom, left */
    margin: 10px 0px 10px 350px;
}

article#noticia-principal h1.info {
    font-family: 'FonteLogo', sans-serif;
    font-size: 13pt;
    color: #606060;
    background: none;
    margin-left: -5px;
}

hgroup#cabecalho-noticia-principal h2 {
    font-size: 10pt;
    color: #606060; /* cinza muito claro */
    background-color: #fff; /* branco */
    margin: 0px;
    margin-left: 5px;
    padding: 10px;
}

hgroup#cabecalho-noticia-principal h3 {
    font-size: 12pt;
    color: #606060;
    background-color: #ddd;
    padding: 5px 0px 5px 10px; /* top, right, bottom, left */
    margin: 10px 0px 10px 0px;
}

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px; /* espaçamento entre bordas */
    margin: auto; /* centralizar a tabela */
}

table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px; /* empurra pra dentro */
}

table#tabelaspec td.ce /* pode ser tbm apenas td.ce */ {
    background-color: #606060;
    color: #fff;
    vertical-align: top;
    text-align: right;
    font-weight: bolder; /* negrito */
}

table#tabelaspec td.cd {
    background-color: #cecece;
}

p a {
   text-decoration: none;
}

 p {
    text-align: justfy;
    text-indent: 50px;
    margin-left: 10px;
    padding: 5px;

}

footer#rodape {
    padding: 10px;
    clear: both;
    border-top: 1px solid #606060;
    text-align: center;
}
